@charset "utf-8";

html {
  max-width: 100vw;
}
body {
  font: 14px/1.3 'Noto Sans KR', Helvetica, Arial, sans-serif;
  color: #797b86;
  min-width: 360px;
}

header {
  width: 100%;
  height: 84px;
  padding: 0 32px;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}
.main-logo {
  float: left;
  margin-top: 20px;
  padding: 0 15px;
}
.main-logo img:nth-child(2) {
  display: none;
}
.main-logo img {
  /* border: 1px solid #000; */
}
.gnb {
  padding: 0 15px;
  float: left;
  margin-left: 340px;
}
.gnb .main-menu {
  font-size: 16px;
}

.gnb .main-menu li {
  float: left;
  /* border: 1px solid #f00; */
  padding: 10px 15px;
  margin-top: 20px;
  margin-right: 12px;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
}

.gnb .main-menu li:hover {
  color: #fff;
}
.gnb .submenu {
  top: 64px;
  width: 240px;
  position: absolute;
  background: #fff;
  border-radius: 5px;
  padding: 0 25px 20px;
}
.gnb .submenu li {
  float: left;
}
.gnb .submenu li a {
  color: black;
}
.gnb .main-menu .submenu {
  display: none;
}
.gnb .main-menu > li:hover .submenu {
  display: block;
}

.sns-icon-group {
  float: right;
  margin: 20px 12px 0 0;
  font-size: 24px;
}
.sns-icon-group i:first-child {
  margin-right: 12px;
}

.sns-icon-group i:after {
  content: '';
  color: #fff;
}
