*{margin: 0; padding: 0; box-sizing: border-box;}

li {list-style: none;}
a {text-decoration: none; color:inherit;}
img {border:none; vertical-align: top;}
img,video {max-width: 100%;}
h1,h2,h3,h4,h5,h6 {font-size:100%; font-weight: normal;}
em, address {font-style:normal;}
strong {font-weight: normal;}
table {border-collapse:collapse; border:none;}
th {text-align:left;font-weight:normal;}
caption {width:0;height:0;overflow: hidden;font-size:1px;color:transparent;}
legend, .blind{position: absolute; left:-999px;}
.hide {display:none;}
fieldset {border: none;}
input[type="text"], input[type="password"], input[type="email"],input[type="tel"] {border:1px solid #aaa;background-color:#fff;}