@charset "utf-8";
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

html {
  max-width: 100vw;
}
body {
  font: 14px/1.3 'Noto Sans KR', Helvetica, Arial, sans-serif;
  color: #777;
  min-width: 360px;
}

#wrap {
}
