@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('reset.css');
@import url('common.css');

html {
  max-width: 100%;
  scroll-behavior: smooth;
}
body {
  font: 14px/1.3 'Jost', 'Noto Sans KR', Helvetica, Arial, sans-serif;
  color: #797b86;
  min-width: 360px;
}
h2 {
  font-size: 40px;
  font-weight: 700;
  color: #060221;
}
.main-slide-banner img:nth-child(2) {
  display: none;
}

/* youtube-container */
.youtube-container {
  width: 100%;
  /* float: left; */
  background-image: linear-gradient(105deg, #bfa387 58.45%, #9d846a 58.5%);
  padding: 100px 0;
  overflow: hidden;
}
.youtube-txt {
  width: 1200px;
  margin: 0 auto;
}

.fancy-title {
  float: left;
  margin-top: 80px;
}
.fancy-title h2 {
  font-size: 64px;
  color: #fff;
  font-family: 'Jost', sans-serif;
}
.fancy-title h3 {
  font-size: 25px;
  color: #fae6cc;
  margin-bottom: 30px;
}
.bg-youtube {
  float: right;
  margin-right: -1vw !important;
  position: relative;
}

.bg-youtube-playbtn a {
  background-color: #ff0000;
  width: 6.5em;
  height: 6.5em;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.playbtn-outline {
  width: 6.5em;
  height: 6.5em;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  top: 42%;
  right: 50%;
  transform: translateY(-50%);
  opacity: 0;
  animation: wave 1.5s infinite linear;
  animation-timing-function: ease;
}

@keyframes wave {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

.bg-youtube-playbtn i {
  font-size: 30px;
  text-align: center;
  margin: 30px 34px;
}

/* collection */
.collection-list {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.collection-list > h2 {
  padding: 60px 0;
  text-align: center;
}
.collection-list h2::after {
  content: '';
  display: block;
  position: absolute;
  top: 62px;
  right: 470px;
  width: 10px;
  height: 10px;
  background-color: #f39800;
}

.collection-list-wrap {
  display: inline-block;
  width: 100%;
  margin-bottom: 95px;
}

.clist-left {
  width: 583px;
  float: left;
  position: relative;
  margin-right: 34px;
}
.clist-left img {
  width: 100%;
  transition: all 0.3s;
}
.clist-left img:nth-child(2) {
  display: none;
}
.clist-left .clist-lt-txt {
  position: absolute;
  top: 103px;
  left: 30px;
}
.clist-lt-txt p,
.clist-rt-top-txt p,
.clist-rt-btm-txt p {
  margin-top: 20px;
  font-size: 19px;
  color: #fff;
}
.clist-left:hover > a > img {
  filter: brightness(75%);
}
.collection-right-wrap {
  width: 583px;
  float: right;
}
.collection-right-wrap img {
  width: 100%;
  transition: all 0.3s;
}
.clist-right-top {
  position: relative;
}
.clist-right-top:hover > a > img {
  filter: brightness(75%);
}
.clist-rt-top-txt {
  position: absolute;
  bottom: 0;
  right: 32px;
}
.clist-right-btm {
  position: relative;
  margin-top: 34px;
}
.clist-right-btm:hover > a > img {
  filter: brightness(75%);
}
.clist-rt-btm-txt {
  position: absolute;
  bottom: 0;
  right: 32px;
}

/* products */
.products-list-wrap {
  background: #f7f8fb;
  width: 100%;
  padding-bottom: 92px;
  position: relative;
}
.products-list {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.products-list h2 {
  text-align: center;
  padding: 60px 0;
}
.products-list > div {
  position: relative;
}
.products-list h2::after {
  content: '';
  display: block;
  position: absolute;
  top: 63px;
  right: 488px;
  width: 10px;
  height: 10px;
  background-color: #f39800;
}
.plist-left,
.plist-center,
.plist-right {
  display: inline-block;
  margin-right: 32px;
}

.products-list img {
  width: 100%;
  transition: all 0.3s ease-in;
}
.products-list img:hover {
  transform: translateY(-1%);
  transition: all 0.2s ease-out;
  opacity: 0.7;
}
.products-list:hover h3 {
  text-shadow: 5px 0 3px rgba(0, 0, 0, 0.5);
}
.plist-lt-txt > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
span.plus {
  position: absolute;
  top: 119px;
  left: 145px;
  text-indent: -99999em;
  width: 70px;
  height: 70px;
}
.plus::before,
.plus::after {
  content: '';
  position: relative;
  background: #fff;
  opacity: 1;
  transition-delay: 0.2s;
  transition: all 0.2s ease-in;
}
.plus::before {
  position: absolute;
  left: calc(50% - 1px);
  top: 0px;
  bottom: 0px;
  width: 1px;
}
.plus::after {
  position: absolute;
  top: calc(50% - 1px);
  left: 0px;
  right: 0px;
  height: 1px;
}
.products-list h3 {
  position: absolute;
  top: 240px;
  left: 120px;
  font-weight: 500;
  font-size: 30px;
  color: #fff;
}
.plist-ct-txt,
.plist-rt-txt > h3 {
  text-align: center;
}

/* lab */
.lab-wrap {
  /* width: 100%; */
  height: 600px;
  position: relative;
}
.lab-container {
  width: 100%;
  height: 100%;
  color: #fff;
}
.lab-container h2 {
  width: 1200px;
  text-align: center;
  margin: 60px auto 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  z-index: 2;
}
.lab-container h2::after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  right: 552px;
  width: 10px;
  height: 10px;
  background-color: #f39800;
}
.lab-item-group {
  height: 100%;
}
.lab-img-left {
  float: left;
  width: 50%;
  height: 100%;
  background: url(../img/lab_img.gif) no-repeat;
  background-size: cover;
  background-position: right bottom;
}
.lab-img-right {
  float: right;
  width: 50%;
  height: 100%;
  background: url(../img/lab_bg.jpg) no-repeat;
  background-size: cover;
  background-position: right bottom;
  position: relative;
}
.lab-top-title {
  position: absolute;
  top: 45%;
  left: 32%;
  transform: translate(-50%, -50%);
}
.lab-top-title > h3 {
  border-bottom: 1px solid #ffffff87;
  padding-bottom: 10px;
  width: 390px;
}
.lab-top-title > h3 > img {
  width: 200px;
}
.lab-top-title .lab-top-txt {
  font-size: 23px;
  position: absolute;
  top: 1%;
  left: 57%;
}
.lab-top-title .x-icon {
  position: relative;
  top: 5px;
  right: -22px;
}
.lab-top-title .x-icon::before,
.lab-top-title .x-icon::after {
  content: '';
  position: absolute;
  top: 60%;
  left: 50%;
  width: 30px;
  height: 1px;
  background-color: #fff;
}
.lab-top-title .x-icon::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.lab-top-title .x-icon::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.lab-btm-txt > a > h3 {
  font-size: 48px;
  padding: 40px 0 20px 0;
}
.lab-btm-txt > p {
  font-size: 16px;
  line-height: 2em;
}
.lab-btm-txt p:first-child {
  margin: 10px 0;
}

/* instagram */
.instagram-list-wrap {
  width: 1200px;
  height: 1050px;
  margin: 0 auto;
  padding-bottom: 120px;
}
.instagram-container {
  position: relative;
}
.instagram-container > h2 {
  margin: 0 auto;
  text-align: center;
  padding: 60px 0;
}
.instagram-container h2::after {
  content: '';
  display: block;
  position: absolute;
  top: 70px;
  right: 461px;
  width: 10px;
  height: 10px;
  background-color: #f39800;
}
.instagram-list div {
  width: 360px;
  display: inline-block;
  margin: 15px;
  position: relative;
}

.instagram-list div > a > img {
  transition: all 0.5s ease;
}
.instagram-list > div {
  overflow: hidden;
}

.instagram-list div > a > img:hover {
  transform: scale(1.2);
}

/* 태블릿 반응형 */
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .main-slide-banner img:nth-child(1) {
    display: none;
  }
  .main-slide-banner img:nth-child(2) {
    display: block;
  }
  .youtube-txt {
    margin-left: 40px;
  }
  .youtube-txt .fancy-title h2 {
    font-size: 22px;
    line-height: 1;
  }
  .bg-youtube {
    position: relative;
  }
  .bg-youtube img {
    width: 470px;
    margin-top: 55px;
  }
  .bg-youtube-playbtn a {
    margin-top: 20px;
  }
  .bg-youtube-playbtn {
    position: absolute;
    top: 160px;
    left: 270px;
  }
  .playbtn-outline {
    position: absolute;
    top: 135px;
    left: 180px;
  }

  .collection-list-wrap {
    height: 1400px;
  }
  .collection-list {
    position: relative;
  }
  .collection-list h2 {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 0px;
    left: 225px;
    z-index: 1;
  }
  .collection-list h2::after {
    content: '';
    display: block;
    position: absolute;
    top: 59px;
    left: 186px;
    width: 10px;
    height: 10px;
    background-color: #f39800;
  }
  .collection-list-wrap {
    margin-top: 150px;
  }

  .clist-left a img:nth-child(1) {
    display: none;
  }
  .clist-left a img:nth-child(2) {
    display: block;
    position: absolute;
    top: 0;
    left: 40px;
  }
  .clist-left {
    position: relative;
  }

  .clist-lt-txt img {
    height: 22px;
    position: absolute;
    top: -80px;
    left: 20px;
  }
  .clist-lt-txt .collection-txt {
    font-size: 14px;
    margin: -40px 0 0 35px;
  }
  .collection-right-wrap {
    position: relative;
  }
  .clist-right-top img {
    position: absolute;
    top: 590px;
    left: -577px;
    z-index: 1;
  }
  .clist-rt-top-txt {
    position: relative;
  }
  .clist-rt-top-txt img {
    height: 22px;
    position: absolute;
    top: 910px;
    left: -360px;
  }
  .clist-rt-top-txt .collection-txt {
    position: absolute;
    top: 930px;
    left: -180px;
    z-index: 1;
    font-size: 14px;
  }
  .clist-right-btm {
    position: relative;
  }
  .clist-right-btm img {
    position: absolute;
    top: 960px;
    left: -577px;
    z-index: 1;
  }
  .clist-rt-btm-txt {
    position: relative;
  }
  .clist-rt-btm-txt img {
    height: 22px;
    position: absolute;
    top: 1280px;
    left: -340px;
  }
  .clist-rt-btm-txt .collection-txt {
    position: absolute;
    top: 1300px;
    left: -170px;
    z-index: 1;
    font-size: 14px;
  }
  .products-list {
    position: relative;
    height: 1000px;
  }
  .products-list h2 {
    position: absolute;
    top: 0;
    left: 255px;
    z-index: 1;
    font-size: 30px;
    font-weight: bold;
  }
  .products-list h2::after {
    content: '';
    display: block;
    position: absolute;
    top: 63px;
    left: 160px;
    width: 10px;
    height: 10px;
    background-color: #f39800;
  }
  .plist-left,
  .plist-center,
  .plist-right img {
    width: 305px;
  }
  .plist-left {
    position: absolute;
    top: 150px;
    left: 25px;
  }
  .plist-center {
    position: absolute;
    top: 150px;
    left: 10px;
  }
  .plist-right {
    position: absolute;
    top: 580px;
    left: -655px;
    z-index: 1;
  }
  span.plus {
    position: absolute;
    top: 119px;
    left: 118px;
    text-indent: -99999em;
    width: 70px;
    height: 70px;
  }
  .plus::before,
  .plus::after {
    content: '';
    position: relative;
    background: #fff;
    opacity: 1;
    transition-delay: 0.2s;
    transition: all 0.2s ease-in;
  }
  .plus::before {
    position: absolute;
    left: calc(50% - 1px);
    top: 0px;
    bottom: 0px;
    width: 1px;
  }
  .plus::after {
    position: absolute;
    top: calc(50% - 1px);
    left: 0px;
    right: 0px;
    height: 1px;
  }
  .products-list h3 {
    position: absolute;
    top: 210px;
    left: 90px;
    font-weight: 100;
    font-size: 30px;
    color: #fff;
  }
  .lab-container h2 {
    font-size: 35px;
  }
  .lab-container h2::after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    right: 560px;
    width: 10px;
    height: 10px;
    background-color: #f39800;
  }
  .lab-img-left {
    width: 100%;
    height: 430px;
    background-size: cover;
    background-position: center center;
  }
  .lab-item-group {
    position: relative;
  }
  .lab-img-right {
    position: absolute;
    bottom: 0px;
    background-image: none;
    width: 100%;
    height: 230px;
    background-color: #030825;
  }
  .lab-top-title {
    position: absolute;
    bottom: -10px;
    left: 350px;
  }
  .lab-top-title h3 img {
    width: 150px;
  }
  .lab-top-title .x-icon::before,
  .lab-top-title .x-icon::after {
    content: '';
    position: absolute;
    top: 60%;
    left: 50%;
    width: 20px;
    height: 1px;
    background-color: #fff;
  }
  .lab-top-title .lab-top-txt {
    font-size: 16px;
    margin-top: 3px;
  }
  .lab-top-title > h3 {
    border-bottom: 1px solid #ffffff87;
    /* padding-bottom: 10px; */
    width: 300px;
  }
  .lab-btm-txt a h3 {
    font-size: 34px;
    margin-top: -30px;
    text-align: center;
  }
  .lab-btm-txt p {
    font-size: 12px;
    text-align: center;
    line-height: 2;
  }
  .instagram-list-wrap {
    position: relative;
    width: 480px;
    height: auto;
  }
  .instagram-container img {
    width: 30px;
    position: absolute;
    top: 0;
    left: -35px;
  }
  .instagram-container h2 {
    font-size: 30px;
    position: absolute;
    top: -85px;
    left: 180px;
    z-index: 1;
    padding: 0;
    font-size: 30px;
  }
  .instagram-container h2::after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 130px;
    width: 10px;
    height: 10px;
    background-color: #f39800;
  }
  .instagram-list {
    margin-top: 150px;
  }

  .instagram-list div > a > img:hover {
    transform: scale(1.2);
  }

  .instagram-list div {
    width: 200px;
  }
  .instagram-list div > a > img {
    width: 200px;
    padding: 0;
    margin: 0;
    transition: all 0.5s ease;
  }
  .instagram-list {
    width: 748px;
    /* border: 1px solid red; */
    margin-left: -110px;
  }
  .inner-footer {
    width: 289px;
  }
  .footer-txt {
    font-size: 12px;
  }
}

/* 모바일 반응형 */
@media screen and (max-width: 480px) {
  .main-slide-banner img:nth-child(1) {
    display: none;
  }
  .main-slide-banner img:nth-child(2) {
    display: block;
  }
  .youtube-container {
    height: 380px;
  }
  .youtube-txt {
    margin-left: 25px;
  }
  .youtube-txt .fancy-title {
    margin-top: 5px;
  }
  .fancy-title h2 {
    font-size: 10px;
    color: #fff;
    font-family: 'Jost', sans-serif;
  }
  .fancy-title h3 {
    font-size: 16px;
    color: #fae6cc;
    margin-bottom: 30px;
  }
  .bg-youtube {
    position: relative;
  }
  .bg-youtube img {
    width: 280px;
    margin-top: 20px;
  }
  .bg-youtube-playbtn {
    position: absolute;
    top: 80px;
    left: 180px;
  }
  .bg-youtube-playbtn a {
    background-color: #ff0000;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    z-index: 99;
  }
  .bg-youtube-playbtn a i {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: -10px;
    left: -12px;
  }
  .playbtn-outline {
    position: absolute;
    top: 70px;
    left: 120px;
    width: 4.5em;
    height: 4.5em;
    border-radius: 50%;
  }
  .collection-list-wrap {
    height: 1000px;
  }
  .collection-list {
    position: relative;
  }
  .collection-list h2 {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 0px;
    left: 135px;
    z-index: 1;
  }
  .collection-list h2::after {
    content: '';
    display: block;
    position: absolute;
    top: 59px;
    left: 185px;
    width: 10px;
    height: 10px;
    background-color: #f39800;
  }
  .collection-list-wrap {
    margin-top: 150px;
  }

  .clist-left a img:nth-child(1) {
    display: none;
  }
  .clist-left a img:nth-child(2) {
    display: block;
    position: absolute;
    top: 0;
    left: 35px;
    width: 400px;
  }
  .clist-left {
    position: relative;
  }

  .clist-lt-txt img {
    height: 22px;
    position: absolute;
    top: -80px;
    left: 18px;
  }
  .clist-lt-txt .collection-txt {
    font-size: 14px;
    margin: -40px 0 0 35px;
  }
  .collection-right-wrap {
    position: relative;
  }
  .clist-right-top img {
    position: absolute;
    top: 420px;
    left: -582px;
    z-index: 1;
    width: 400px;
  }
  .clist-rt-top-txt {
    position: relative;
  }
  .clist-rt-top-txt img {
    height: 22px;
    position: absolute;
    top: 620px;
    left: -450px;
  }
  .clist-rt-top-txt .collection-txt {
    position: absolute;
    top: 630px;
    left: -365px;
    z-index: 1;
    font-size: 14px;
  }
  .clist-right-btm {
    position: relative;
  }
  .clist-right-btm img {
    position: absolute;
    top: 680px;
    left: -582px;
    z-index: 1;
    width: 400px;
  }
  .clist-rt-btm-txt {
    position: relative;
  }
  .clist-rt-btm-txt img {
    height: 22px;
    position: absolute;
    top: 880px;
    left: -430px;
  }
  .clist-rt-btm-txt .collection-txt {
    position: absolute;
    top: 890px;
    left: -350px;
    z-index: 1;
    font-size: 14px;
  }
  .products-list {
    position: relative;
    height: 700px;
  }
  .products-list h2 {
    position: absolute;
    top: 0;
    left: 170px;
    z-index: 1;
    font-size: 30px;
    font-weight: bold;
  }
  .products-list h2::after {
    content: '';
    display: block;
    position: absolute;
    top: 63px;
    left: 160px;
    width: 10px;
    height: 10px;
    background-color: #f39800;
  }
  .plist-left img,
  .plist-center img,
  .plist-right img {
    width: 195px;
  }
  .plist-left {
    position: absolute;
    top: 150px;
    left: 25px;
  }
  .plist-center {
    position: absolute;
    top: 150px;
    left: -100px;
  }
  .plist-right {
    position: absolute;
    top: 430px;
    left: -657px;
    z-index: 1;
  }
  span.plus {
    position: absolute;
    top: 70px;
    left: 75px;
    text-indent: -99999em;
    width: 50px;
    height: 50px;
  }
  .plus::before,
  .plus::after {
    content: '';
    position: relative;
    background: #fff;
    opacity: 1;
    transition-delay: 0.2s;
    transition: all 0.2s ease-in;
  }
  .plus::before {
    position: absolute;
    left: calc(50% - 1px);
    top: 0px;
    bottom: 0px;
    width: 1px;
  }
  .plus::after {
    position: absolute;
    top: calc(50% - 1px);
    left: 0px;
    right: 0px;
    height: 1px;
  }
  .products-list h3 {
    position: absolute;
    top: 140px;
    left: 65px;
    font-weight: 100;
    font-size: 20px;
    color: #fff;
  }
  .products-list .plist-center h3 {
    position: absolute;
    top: 140px;
    left: 57px;
    font-weight: 100;
    font-size: 20px;
    color: #fff;
  }
  .lab-container h2 {
    font-size: 35px;
  }
  .lab-container h2::after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    right: 560px;
    width: 10px;
    height: 10px;
    background-color: #f39800;
  }
  .lab-img-left {
    width: 100%;
    height: 430px;
    background-size: cover;
    background-position: center center;
  }
  .lab-item-group {
    position: relative;
  }
  .lab-img-right {
    position: absolute;
    bottom: 0px;
    background-image: none;
    width: 100%;
    height: 230px;
    background-color: #030825;
  }
  .lab-top-title {
    position: absolute;
    bottom: -10px;
    left: 230px;
  }
  .lab-top-title h3 img {
    width: 150px;
  }
  .lab-top-title .x-icon::before,
  .lab-top-title .x-icon::after {
    content: '';
    position: absolute;
    top: 60%;
    left: 50%;
    width: 20px;
    height: 1px;
    background-color: #fff;
  }
  .lab-top-title .lab-top-txt {
    font-size: 16px;
    margin: 3px 0 0 15px;
  }
  .lab-top-title > h3 {
    border-bottom: 1px solid #ffffff87;
    /* padding-bottom: 10px; */
    width: 300px;
  }
  .lab-btm-txt a h3 {
    font-size: 34px;
    margin-top: -30px;
    text-align: center;
  }
  .lab-btm-txt p {
    font-size: 12px;
    text-align: center;
    line-height: 2;
  }
  /* instagram */
  .instagram-list-wrap {
    position: relative;
    height: auto;
  }

  .instagram-container img {
    width: 30px;
    position: absolute;
    top: 5px;
    left: -40px;
  }
  .instagram-container h2 {
    font-size: 24px;
    position: absolute;
    top: -85px;
    left: 170px;
    z-index: 1;
    padding: 0;
    font-size: 30px;
  }
  .instagram-container h2::after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 130px;
    width: 10px;
    height: 10px;
    background-color: #f39800;
  }

  .instagram-list {
    width: 460px;
    margin: 150px auto 0;
  }

  .instagram-list div {
    width: 180px;
  }
  .instagram-list div > a > img {
    width: 100%;
    padding: 0;
    margin: 0;
    transition: all 0.5s ease;
  }
  .inner-footer {
    width: 260px;
  }
  .footer-txt {
    font-size: 11px;
  }
}
