@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('reset.css');
@import url('common.css');

/* evezary sub page */
html {
  max-width: 100%;
  scroll-behavior: smooth;
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}
body {
  background-color: #cedfe8;
  z-index: -1;
}
#wrap {
  min-height: 100%;
  height: 100%;
  height: auto;
  position: relative;
}
header {
  width: 100%;
  height: 84px;
  padding: 0 32px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #fff;
}
header.fixed {
  background-color: #fff;
  position: fixed;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
  z-index: 999;
}
header.fixed .main-logo a img {
  display: block;
  z-index: 2;
}
header.fixed .gnb .main-menu li {
  color: rgba(0, 0, 0, 0.7);
}
.gnb {
  padding: 0 15px;
  float: left;
  width: 760px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -283px;
}
.gnb .main-menu {
  font-size: 16px;
}
.gnb .main-menu > li {
  float: left;
  padding: 20px 15px;
  margin-top: 17px;
  margin-right: 12px;
  color: rgba(0, 0, 0, 0.7);
  position: relative;
  font-weight: bold;
}
.gnb .main-menu > li:hover {
  color: #000;
}
.gnb .submenu {
  top: 60px;
  left: 0;
  width: 240px;
  position: absolute;
  background: #fff;
  border-top: 1px solid #fff;
  border-radius: 5px;
  padding: 20px 0;
}
.gnb .submenu li {
  padding: 15px 30px;
  font-weight: normal;
  /* border: 1px solid #000; */
}
.gnb .submenu li:hover {
  background-color: #d7e1e9;
}
.gnb .submenu li:hover a {
  color: #222;
}
.gnb .submenu li a {
  color: #797b86;
}
.gnb .main-menu .submenu {
  display: none;
}
.gnb .main-menu > li:hover .submenu {
  display: block;
}
/* gnb scrollTop hover , color change */
.gnb.mouseover .main-menu > li:hover {
  color: #000;
}
.sns-icon-group {
  float: right;
  margin: 32px 12px 0 0;
  font-size: 24px;
}
.sns-icon-group i:first-child {
  margin-right: 12px;
}
.sns-icon-group a:hover {
  color: #000;
}
/* scroll drop i tag color change */
.sns-icon-group.mouseover a:hover {
  color: #000;
}

/* section */

#container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.sub-fancy-title {
  padding: 150px;
  /* text-align: center; */
}
.sub-fancy-title img {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  height: 57px;
  margin-top: 60px;
}
.sub-text-box {
  position: relative;
}
.sub-text {
  position: absolute;
  top: calc(50% + 60px);
  left: 50%;
  transform: translateX(-50%);
}
.sub-text > * {
  display: block;
  text-align: center;
}
.sub-text strong {
  font-size: 24px;
  margin-bottom: 5px;
}
.sub-text .en {
  font-family: 'Jost', sans-serif;
  font-weight: bold;
  color: #fff;
}
.sub-text span.en {
  font-weight: normal;
  margin-top: 30px;
}
.sub-text .ko {
  color: #6ed2ff;
  line-height: 1.2;
  font-size: 16px;
  font-weight: 80;
}

.sub-bg-img img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -40px;
}
.sub-bg-img .mobile {
  display: none;
}
.sub-img-item-box {
  position: relative;
}
.sub-img-item-left {
  position: absolute;
  top: 20%;
  left: 10%;
  margin-top: 30%;
}
.sub-img-item-lt img {
  padding-bottom: 12px;
}
.sub-img-item-lc {
  width: 370px;
  height: 460px;
  background-color: #01354e;
  position: relative;
  color: #fff;
  padding: 48px 0 0 40px;
}
.sub-img-item-lc::after {
  content: '';
  position: absolute;
  top: 50px;
  left: -20px;
  width: 370px;
  height: 460px;
  border: 6px solid #fff;
  z-index: -1;
}

.sub-img-item-lc-en-txt p {
  font-size: 30px;
  font-weight: 100;
  font-family: 'Cerebri Sans', sans-serif;
}
.sub-img-item-lc-en-txt span {
  font-size: 48px;
  font-weight: bold;
  font-family: 'Jost', sans-serif;
}
.sub-img-item-lc-ko-txt {
  margin-top: 30px;
  font-size: 18px;
  font-family: 'Cerebri Sans', sans-serif;
}
.sub-img-brush {
  position: absolute;
  width: 282px;
  top: 31px;
  left: 263px;
  z-index: 1;
}
.sub-img-item-lb {
  margin-top: 80px;
}

.sub-img-item-right {
  position: absolute;
  top: 20%;
  right: 1%;
  margin-top: 35%;
  padding-bottom: 100px;
}
.sub-img-item-right div img {
  padding-bottom: 12px;
}

/* section sub content btm */
.sub-content-btm {
  /* position: relative; */
}
.sub-mt-img-box {
  position: relative;
}
.sub-mt-img-left-box div {
  position: absolute;
  bottom: 10%;
  left: 0;
}

/* footer */
footer {
  background-color: #181b31;
  position: absolute;
  width: 100%;
  bottom: -100%;
}
.inner-footer {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 15px;
}
.footer-info {
  padding-top: 20px;
}
.footer-txt {
  font-size: 12px;
  line-height: 1.6;
  font-weight: bold;
}
.copyright {
  margin: 10px 0;
}

/* top btn */
#top-btn {
  position: fixed;
  bottom: 10px;
  right: 5px;
  width: 35px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  position: fixed;
  text-align: center;
  z-index: 999999999999999999999;
}

#top-btn i {
  color: #fff;
  line-height: 35px;
}
