@charset "utf-8";

.img-box img {
  width: 360px;
}

.img-box img:hover {
  filter: brightness(50%);
}
.img-box {
  position: relative;
}
.img-box i {
  border: 1px solid red;
  width: 20px;
  height: 20px;
  color: #fff;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 1;
}
.img-box img:hover i {
}
